{% extends 'base/index.html' %}
{% load static %}
{% block content_wrapper %}

{% endblock %}
{% block content %}

  <!-- Carrousel 01 - Cursos y Talleres - -->
  <section id="cursos-y-talleres">    
    <div class="container p-1" >    
      <div class="row" >
         <div class="col-md-12 c-degra" style="height: 55px;">    
            <p class="h3 text-center animate__animated animate__flipInY animate__slower animate__repeat-2" style="color:#FFF; margin: 0.20em;">CURSOS Y TALLERES</p>
         </div>


     
          <div class="home-slider owl-carousel">

            <div class="slider-item" style="background-image:url({% static 'img/robotica_01.jpg' %});">
              <div class="overlay"></div>
                <div class="container">
                  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ">
                      <div class="text w-100 text-center">
                        <h2>Despertamos su creatividad</h2>
                        <h1 class="mb-3">Robótica</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>

            <div class="slider-item" style="background-image:url({% static 'img/robotica_02.jpg' %});">      
              <div class="overlay"></div>
                <div class="container">
                  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ">
                      <div class="text w-100 text-center">
                        <h2>Fortalecemos su confianza, para cumplir sus objetivos</h2>
                        <h1 class="mb-3">Robótica</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>                
     
            <div class="slider-item" style="background-image:url({% static 'img/robotica_03.jpg' %});">      
              <div class="overlay"></div>
                <div class="container">
                   <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                    <div class="col-md-12 ">
                      <div class="text w-100 text-center">
                        <h2>Fomentamos el trabajo en equipo</h2>
                        <h1 class="mb-3">Robótica</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>     
            </div>              

          </div>


      </div> 
    </div>                       
  </section>  
  <!-- End - Cursos y Talleres - --> 

{% endblock %}