
{% extends 'base/index.html' %}

{% load static %}
{% block content_wrapper %}

{% endblock %}
{% block content %}
  <!-- Boton hacia arriba 
  <a class="ir-arriba">
   <span class="fa-stack" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio" >
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
   </span>
  </a>-->
  <!-- Carrousel 07 Opciones de nuestra Escuela -->
    
    <div class="container img-fluid" style="background-image:url({% static 'img/galeria-01-o.jpg' %});">
      <div class="row h-25" >
        <div class="col-md-12  p-0">    
              <p class="h3 text-center animate__animated animate__bounceInDown animate__slower animate__repeat-2" style="color:#FFF; margin: 0.60em;">BIVENIDOS</p>
        </div>
      </div>       
      <div class="row">
        <div class="col-md-12">
          <div class="featured-carousel owl-carousel">
            
            <!-- NUESTRA ESCUELA  -->   
            <div class="item card card-danger card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:staff_doc_uesj' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/uesanjose_principal.jpg' %});" >
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:staff_doc_uesj' %}">Nuestra Escuela</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p>                  
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="{% url 'config:staff_doc_uesj' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>            
            <!-- STAFF DE DOCENTES  -->   
            <div class="item card card-info card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:staff_doc_uesj' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/staff-01.jpg' %});" >
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:staff_doc_uesj' %}">Staff de Docentes</a></h3>
                  <p>Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="{% url 'config:staff_doc_uesj' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- CURSOS Y TALLERES  -->   
            <div class="item card card-warning card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:cursos_y_talleres' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/curso-01.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:cursos_y_talleres' %}">Cursos y Talleres</a></h3>
                  <p>Que permiten fortalecer en nuestos alumnos y docentes sus valores academicos y espirituales.</p>                  
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:cursos_y_talleres' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- PROXIMAS ACTIVIDADES  --> 
            <div class="item card card-orange card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:proximas_actividades' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-01.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:proximas_actividades' %}">Próximas Actividades</a></h3>
                   <p>Toma nota de los eventos que la escuela tiene prerado para este año escolar. Disfruta de nuestras actividades.</p>                       
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:proximas_actividades' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- NUESTRO BLOG  --> 
            <div class="item card card-info card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:nuestro_blog' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/blog-03.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:nuestro_blog' %}">Nuestro Blog</a></h3>
                    <p>Comparte e interactua con la escuela en este espacio destinado a los representates y alumnos.</p>                    
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:nuestro_blog' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
              </div>
            </div>
            <!-- GALERIA DE FOTOS  --> 
            <div class="item card card-success card-outline">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/galeria-03.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Galeria de Fotos</a></h3>
                  <p>Disfruta y revive momentos inolvidables de nuestra escuela a traves del abanico de imagenes.</p>                   
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- ESCRIBENOS  --> 
            <div class="item card card-purple card-outline">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/escribenos-04.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Escribenos</a></h3>
                  <p>Comunicate con nosotros, nuestro personal Docente y Administrativo resolveran cualquier duda que tengas.</p>                   
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
                </div>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </div>

  <!-- End Carrousel 07 Opciones de nuestra Escuela -->

  <!-- Carrousel 08 - Staff de Profesoras - 
  <section name="staff_doc"  id="staff" style="background-image:url({% static 'img/patron_fondo_01.jpg' %}); max-width: 100%; max-height: 100%;">   
    <div class="container">
      <div class="row" style="height: 70px;">
        <div class="col-md-12">    
          <div class="desc w-100 text-center" style="margin: 1.55em ">
            <p class="h3 mb-5 animate__animated animate__backInLeft animate__slower animate__infinite" style="background-color:#FF9933; opacity: .4; color:#010100">STAFF DE DOCENTES</p>            
        </div>
        </div>
      </div>        
      <div class="row">
       <div class="col-md-12">
        <div class="featured-carousel-08 owl-carousel">
          <!-- Staff de Docentes - Item 01   -             
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image:url({% static 'img/maestra_08.jpg' %}); height: 590px;"></div>
                  


                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"Acompañando a cada niño en su aprendizaje</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Julia Martinez</p>
                        <span class="position">Profesora : III Nivel</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - Item 02            
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image:url({% static 'img/maestra_09.jpg' %}); height: 590px;"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"En cada vivencia, vamos dejando huellas</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Yanet Marfil</p>
                        <span class="position">Profesora : 1er. Grado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - Item 03           
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img" style="background-image:url({% static 'img/maestra_10.jpg' %}); height: 590px;"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"El logro de cada niño, es nuestra mayor satisfacción</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Teresa Guiller</p>
                        <span class="position">Profesora : 5to. Grado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - End            
        </div>
      </div>
     </div>
    </div>
  </section>
  <!-- End - Staff de Profesoras - -->

  <!-- Carrousel 01 - Cursos y Talleres - 
  <section id="cursos-y-talleres" style="max-width: 100%; max-height: 100%;">      
    <div class="row" style="height: 70px;">
      <div class="col-md-12">    
        <div class="desc w-100 text-center" style="margin: 1.55em ">
          <p class="h3 mb-5 animate__animated animate__backInRight animate__slower animate__infinite">CURSOS Y TALLERES</p>
      </div>
      </div>
    </div>      
    <div class="home-slider owl-carousel" style="max-width: 100%; max-height: 100%;">

     <div class="slider-item" style="background-image:url({% static 'img/robotica_01.jpg' %});">
      <div class="overlay"></div>
       <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ">
            <div class="text w-100 text-center">
              <h2>Despertamos su creatividad</h2>
              <h1 class="mb-3">Robótica</h1>
            </div>
          </div>
        </div>
       </div>
     </div>

     <div class="slider-item" style="background-image:url({% static 'img/robotica_02.jpg' %}); max-width: 100%; max-height: 100%;">      
      <div class="overlay"></div>
       <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ">
            <div class="text w-100 text-center">
              <h2>Fortalecemos su confianza, para cumplir sus objetivos</h2>
              <h1 class="mb-3">Robótica</h1>
            </div>
          </div>
        </div>
       </div>
     </div>   
     
     <div class="slider-item" style="background-image:url({% static 'img/robotica_03.jpg' %}); max-width: 100%; max-height: 100%;">      
      <div class="overlay"></div>
       <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-12 ">
            <div class="text w-100 text-center">
              <h2>Fomentamos el trabajo en equipo</h2>
              <h1 class="mb-3">Robótica</h1>
            </div>
          </div>
        </div>
       </div>
     </div>     

    </div>
  </section>  
  <!-- End - Cursos y Talleres - -->  

  <!-- Carrousel 07 Próximas Actividades 
  <section id="proximas-actividades">      
    <div class="container">
      <div class="row" style="height: 70px;">
        <div class="col-md-12">    
          <div class="desc w-100 text-center" style="margin: 1.55em ">
            <p class="h3 mb-5 animate__animated animate__zoomInRight animate__slower animate__infinite" style="background-color:#124F51; opacity: .4; color:#FFF">PRÓXIMAS ACTIVIDADES</p>
          </div>
        </div>
      </div>       
      <div class="row" style="height: 620px;">
        <div class="col-md-12">
          <div class="featured-carousel owl-carousel">
            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-01.jpg' %});" >
                  <div class="meta-date text-center p-2">
                    <span class="day">26</span>
                    <span class="mos">Jun.</span>
                    <span class="yr">2024</span>
                  </div>                 
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#staff">Fin de Curso</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="#staff" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-02.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">12</span>
                    <span class="mos">Jun.</span>
                    <span class="yr">2024</span>
                  </div>  
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="cursos-y-talleres">Presentacion 4to. Grado</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#cursos-y-talleres" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-03.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">31</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Cumple Rodri</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-04.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">15</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Tía Beba</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-05.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">15</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Próximas Actividades</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-06.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">15</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Contáctanos</a></h3>
                  <p>Trabajar en una escuela es una gran responsabilidad. Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Carrousel 07 Próximas Actividades -->

  <!-- Carrousel 03 Nurestro Blog 
  <section id="nuestro-blog">
		<div class="container">
      <div class="row" style="height: 70px;">
        <div class="col-md-12">    
          <div class="desc w-100 text-center" style="margin: 1.55em ">
            <p class="h3 mb-5 animate__animated animate__zoomInRight animate__slower animate__infinite" style="background-color:#124F51; opacity: .4; color:#FFF">PARTICIPA EN NUESTO BLOG</p>
          </div>
        </div>
      </div>         
			<div class="row">
				<div class="col-md-12">
					<div class="featured-carousel-03 owl-carousel">
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image:url(static/img/blog-01.jpg);">
										<div class="text w-100">
											<span class="cat">Web Design</span>
											<h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image:url(static/img/blog-02.jpg);">
										<div class="text w-100">
											<span class="cat">Web Design</span>
											<h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image:url(static/img/blog-03.jpg);">
										<div class="text w-100">
											<span class="cat">Web Design</span>
											<h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image:url(static/img/blog-04.jpg);">
										<div class="text w-100">
											<span class="cat">Web Design</span>
											<h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
										</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="work">
									<div class="img d-flex align-items-end justify-content-center" style="background-image:url(static/img/blog-05.jpg);">
										<div class="text w-100">
											<span class="cat">Web Design</span>
											<h3><a href="#">Working Spaces for Startups Freelancer</a></h3>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>
  </section>
  <!-- End Carrousel 03 NUesto Blog -->
{% endblock %}

