
{% extends 'base/index.html' %}

{% load static %}
{% block content_wrapper %}

{% endblock %}
{% block content %}

  <!-- Boton hacia arriba 
  <a class="ir-arriba">
   <span class="fa-stack" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" title="Inicio" >
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
   </span>
  </a>-->
  <!-- Carrousel 07 Opciones de nuestra Escuela -->
  <section  id="">   
    <div class="container" >
      <div class="row" >
        <div class="col-md-12 text-center" style="height: 85px;">    
          <p class="h3 text-center animate__animated animate__bounceInDown animate__slower animate__repeat-2" style="color:#FFF;margin: 0.90em;">BIENVENIDOS</p>
        </div>

        <div class="col-md-12 mt-4">  

          <div class="featured-carousel owl-carousel">
            
            <!-- NUESTRA ESCUELA  -->   
            <div class="item card card-danger card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:staff_doc_uesj' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/uesanjose_principal.jpg' %});" >
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:staff_doc_uesj' %}">Nuestra Escuela</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p>                  
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="{% url 'config:staff_doc_uesj' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>            
            <!-- STAFF DE DOCENTES  -->   
            <div class="item card card-info card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:staff_doc_uesj' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/staff-01.jpg' %});" >
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:staff_doc_uesj' %}">Staff de Docentes</a></h3>
                  <p>Contamos con profesionales honestos y preparados, que son el ejemplo de nuestros valores.</p>
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="{% url 'config:staff_doc_uesj' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- CURSOS Y TALLERES  -->   
            <div class="item card card-warning card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:cursos_y_talleres' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/curso-01.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:cursos_y_talleres' %}">Cursos y Talleres</a></h3>
                  <p>Que permiten fortalecer en nuestos alumnos y docentes sus valores academicos y espirituales. Informáte</p>                  
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:cursos_y_talleres' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- PROXIMAS ACTIVIDADES  --> 
            <div class="item card card-orange card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:proximas_actividades' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-01.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:proximas_actividades' %}">Próximas Actividades</a></h3>
                   <p>Toma nota de los eventos que la escuela tiene prerado para este año escolar. Disfruta de nuestras actividades.</p>                       
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:proximas_actividades' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- NUESTRO BLOG  --> 
            <div class="item card card-info card-outline">
              <div class="blog-entry">
                <a href="{% url 'config:nuestro_blog' %}" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/blog-03.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="{% url 'config:nuestro_blog' %}">Nuestro Blog</a></h3>
                    <p>Comparte e interactua con la escuela en este espacio destinado a los representates y alumnos.</p>                    
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="{% url 'config:nuestro_blog' %}" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
              </div>
            </div>
            <!-- GALERIA DE FOTOS  --> 
            <div class="item card card-success card-outline">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/galeria-03.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Galeria de Fotos</a></h3>
                  <p>Disfruta y revive momentos inolvidables de nuestra escuela a traves del abanico de imagenes.</p>                   
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </div>
              </div>
            </div>
            <!-- ESCRIBENOS  --> 
            <div class="item card card-purple card-outline">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/escribenos-04.jpg' %});">
                </a>
                <div class="text border border-top-0 p-4">
                  <h3 class="heading"><a href="#">Escribenos</a></h3>
                  <p>Comunicate con nosotros, nuestro personal Docente y Administrativo resolveran cualquier duda que tengas.</p>                   
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                  </div>
                </div>
              </div>
            </div> 

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Carrousel 07 Opciones de nuestra Escuela -->

{% endblock %}

{% block js %}
<script>
    document.getElementById('contenido-slider').classList.add('slider-inicio');   
</script>
{% endblock js%}

