{% extends 'base/index.html' %}
{% load static %}
{% block content_wrapper %}

{% endblock %}
{% block content %}
  <!-- Carrousel 07 Próximas Actividades -->
  <section  id="PROXIMAS-ACTIVIDADES">     
    <div class="container" >
      <div class="row" >
        <div class="col-md-12 text-center c-degra-actividades" style="height: 85px;">     
              <p class="h3 text-center animate__animated animate__fadeInUp animate__slower animate__repeat-2" style="opacity: .4; color:#FFF;margin: 0.90em;">PRÓXIMAS ACTIVIDADES</p>
        </div>

        <div class="col-md-12 ms-0">

          <div class="featured-carousel owl-carousel">
            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-01.jpg' %});" >
                  <div class="meta-date text-center p-2">
                    <span class="day">01</span>
                    <span class="mos">Jun.</span>
                    <span class="yr">2024</span>
                  </div>                 
                </a>
                <div class="card-body clearfix shadow-lg p-3 mb-5">
                  <blockquote class="quote-warinig">
                  <h3 class="heading"><a href="#staff">Fin de Curso</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela. Ven y participa</p> 
                  <div class="d-flex align-items-center mt-4">
                        <p class="mb-0"><a href="#staff" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </blockquote>                  
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-02.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">02</span>
                    <span class="mos">Jun.</span>
                    <span class="yr">2024</span>
                  </div>  
                </a>
                <div class="card-body clearfix shadow-lg p-3 mb-5">
                  <blockquote class="quote-info">
                  <h3 class="heading"><a href="cursos-y-talleres">Presentacion 4to. Grado</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p> 
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#cursos-y-talleres" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </blockquote>                  
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-03.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">03</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="card-body clearfix  shadow-lg p-3 mb-5">
                  <blockquote class="quote-success">
                  <h3 class="heading"><a href="#">Cumple Rodri</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p> 
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </blockquote>                  
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-04.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">04</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="card-body clearfix shadow-lg p-3 mb-5">
                  <blockquote class="quote-fuchsia">
                  <h3 class="heading"><a href="#">Tía Beba</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p> 
                  <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                  </div>
                </blockquote>                      
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-05.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">05</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>
                <div class="card-body clearfix shadow-lg p-3 mb-5">
                  <blockquote class="quote-purple">
                  <h3 class="heading"><a href="#">Próximas Actividades</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p> 
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                   </div>
                  </blockquote>                      
                </div>
              </div>
            </div>

            <div class="item">
              <div class="blog-entry">
                <a href="#" class="block-20 d-flex align-items-start" style="background-image:url({% static 'img/actividad-06.jpg' %});">
                  <div class="meta-date text-center p-2">
                    <span class="day">06</span>
                    <span class="mos">Jul.</span>
                    <span class="yr">2024</span>
                  </div> 
                </a>            
                <div class="card-body clearfix shadow-lg p-3 mb-5">
                  <blockquote class="quote-orange">
                  <h3 class="heading"><a href="#">Contáctanos</a></h3>
                  <p>Quienes somos, conoce nuestros inicios y trayectoria, parte importe de nuestra identidad como escuela.</p> 
                   <div class="d-flex align-items-center mt-4">
                    <p class="mb-0"><a href="#" class="btn btn-primary">Leer más <span class="ion-ios-arrow-round-forward"></span></a></p>
                   </div>
                  </blockquote>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Carrousel 07 Próximas Actividades --> 

{% endblock %}
{% block js %}
<script>
    document.getElementById('contenido-slider').classList.add('slider-proximas-actividades');   
</script>
{% endblock js%}