{% extends 'base/index.html' %}
{% load static %}
{% block content_wrapper %}

{% endblock %}
{% block content %}

  <!-- Carrousel 08 - Staff de Docentes - -->
  <section name="staff_doc"  id="staff" >   
    <div class="container" >
      <div class="row" >
        <div class="col-md-12 text-center" style="height: 85px;">    
              <p class="h3 text-center animate__animated animate__backInLeft animate__slower animate__repeat-2" style="background-color:#FF9933; opacity: .4; color:#010100;margin: 0.60em;">STAFF DE DOCENTES</p>
        </div>
      </div>        
      <div class="row h-25">
       <div class="col-md-12">
        <div class="featured-carousel-08 owl-carousel h-25">
          <!-- Staff de Docentes - Item 01 -->                
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img img-fluid" style="background-image:url({% static 'img/maestra_13.jpg' %}); "></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"Acompañando a cada niño en su aprendizaje</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Julia Martinez</p>
                        <span class="position">Profesora : III Nivel</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - Item 02 -->             
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img img-fluid" style="background-image:url({% static 'img/maestra_14.jpg' %});"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"En cada vivencia, vamos dejando huellas</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Yanet Marfil</p>
                        <span class="position">Profesora : 1er. Grado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - Item 03 -->             
          <div class="item">
            <div class="row justify-content-center">
              <div class="col-md-11">
                <div class="testimony-wrap d-md-flex">
                  <div class="img img-fluid" style="background-image:url({% static 'img/maestra_16.jpg' %});"></div>
                  <div class="text text-center p-4 py-xl-5 px-xl-5 d-flex align-items-center">
                    <div class="desc w-100">
                      <p class="h3 mb-5">"El logro de cada niño, es nuestra mayor satisfacción</p>
                      <div class="pt-4">
                        <p class="name mb-0">&mdash; Teresa Guiller</p>
                        <span class="position">Profesora : 5to. Grado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Staff de Docentes - End -->             
        </div>
      </div>
     </div>
    </div>
  </section>
  <!-- End - Staff de Docentes - -->

{% endblock %}
{% block js %}
<script>
    document.getElementById('contenido-slider').classList.add('slider-staff-docentes');   
</script>
{% endblock js%}