{% extends 'base/index.html' %}

{% block content_wrapper %}
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if obj %} Editar {% else %} Crear {% endif %} Grupo de Usuario
      </div>
      <div class="card-body">
        <form method="POST" id="mis_datos" class="form-group">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre del Grupo</label>
            <input type="text" required class="form-control" id="name" name="name" placeholder="Nombre del Grupo" 
            value="{{obj.name}}">
          </div>


          <!-- Botones para Guardar y Salir sin grabar -->
          <section class="buttons-datos">
            <!--  Boton Grabar -->
            <a href="#" class="btnfos btnfos-01 text-center" id="btnEnviarDatos" style="color: #186802;">
              <svg>
                <rect x="0" y="0" fill="none" width="100%" height="100%"/>
              </svg>
              <i class="fa-solid fa-check fa-lg" style="color: #186802;"></i>              
              <!-- <i class="fa-regular fa-circle-check fa-lg" style="color: #186802;"></i> -->
              &nbsp;Guardar
            </a>

            <!--  Boton Salir  -->
            <a href="{% url 'config:user_groups_list'%}" class="btnfos btnfos-2 text-center"  style="color: #950202;">
              <i class="fa-solid fa-right-to-bracket fa-lg"style="color: #950202;"></i>              
              <!--  <i class="fa-regular fa-circle-xmark fa-lg" style="color: #950202;"></i> -->
              &nbsp;Salir
            </a>                      
          </section>
          <!-- End Botones -->
          </form>
      </div>
    </div>
  </div>
</div>
{% if obj %}
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Permisos del Grupo : {{obj}}
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="tblGrp" class="table table-bordered table-striped table-hover table-sm table-hover-bg-warning">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              {% for item in permisos_grupo%}
              <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>
                      <a href="#" class="btn btn-sm text-success"
                      onclick="permiso('{{item.id}}','DEL')"
                      ><i class="far fa-trash-alt"></i></a>
                  </td>
              </tr>
              {%endfor%}

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Agregar Permisos al Grupo : {{obj}}
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="tbl" class="table table-bordered table-striped table-hover table-sm table-hover-bg-warning">
          <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tbody>
              {% for item in permisos%}
              <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>
                      <a href="#" class="btn btn-sm text-success"
                      onclick="permiso('{{item.id}}','ADD')"
                      ><i class="fas fa-plus"></i></a>
                  </td>
              </tr>
              {%endfor%}

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
{% endif %}
{% endblock%}

{% block js%}
<script>

  function permiso(id,accion){
    var url = "/users/groups/permission/{{obj.id}}/" + id
    var token = '{{csrf_token}}'
    var data = {"accion":accion}

    console.log(url,token,data)

    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:url,
      data:data,
      success: function(response){
        if(response==="OK"){
          location.reload(true)
        }else{
          Swal.fire(response,"","red")
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        Swal.fire(errorThrow,"",'red');
      }
    })
  }
</script>
{% endblock %}