<!-- Ult. Act. 04/08/2024 -->
{% extends 'base/index.html' %}

{% block content_wrapper %}
{% endblock %}
{% block content %}
<!-- Datos Generales -->
<div class="row">
  <div class="col-12 mt-4">
    <!-- CUADRO DE DATOS -->  
    <div class="card-sm">
      <div class="callout callout-info bg-light shadow-sm">
        {% if obj %} Editar {% else %} Crear {% endif %}  Usuarios / Permisos
      </div>
      <div class="row">
        <div class="col-12 col-sm-12">
          <!-- CONTIENE LAS DOS PESTAÑAS DE DATOS -->          
          <div class="card card-info card-tabs">
            <!-- TITULO DE LAS PESTAÑAS -->            
            <div class="card-header p-0 pt-1">
              <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                <!-- 1er. TITULO DE LAS PESTAÑAS -->
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                    Datos del Usuario
                  </a>
                </li>
                <!-- 2do. TITULO DE LAS PESTAÑAS -->                
                <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Permisos</a>
                </li>

              </ul>
            </div>
            <!-- End TITULO DE LAS PESTAÑAS -->     
            <!-- CONTENIDO DE LAS PESTAÑAS  Se relacionan con los titulos por el Id -->                          
            <div class="card-body-sm">
               <div class="tab-content" id="custom-tabs-one-tabContent">
                 <!-- 1er. CONTENIDO DE LAS PESTAÑAS -->  
                 <div class="tab-pane fade show active  callout callout-success bg-white shadow-sm mb-0 pb-0 pt-4" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                    <form method="POST" id="mis_datos" class="form-group mb-0 pb-0 pl-2 pr-2 pt-1">
                      {% csrf_token %}
                      <div class="row">
                        <div class="form-group input-f-Container col-12">
                          <input class="input-f" type="email" name="email" id="id_email"  placeholder="a"
                          value="{{obj.email}}" required>
                          <label for="" class="label-f">Dirección de email</label>
                        </div>

                        <div class="form-group input-f-Container col-12 mt-2">
                          <input class="input-f" type="text" name="first_name" id="id_first_name" maxlength="30" placeholder="a"
                          value="{{obj.first_name}}" required>
                          <label for="" class="label-f">Nombres</label>
                        </div>     
                        
                        <div class="form-group input-f-Container col-12 mt-2">
                          <input class="input-f" type="text" name="last_name" id="id_last_name" maxlength="30" placeholder="a"
                          value="{{obj.last_name}}" required>
                          <label for="" class="label-f">Apellidos</label>
                        </div>    
                        
                        <div class="form-group input-f-Container col-12 mt-2">
                          <input class="input-f" type="password" name="password" id="id_password" maxlength="10" placeholder="a"
                          value="{{obj.password}}" required>
                          <label for="" class="label-f">Password</label>
                        </div>                            
                      </div>                      
                      <!-- Botones para Guardar y Salir sin grabar -->
                      <section class="buttons-datos">
                        <!--  Boton Grabar -->
                        <a href="#" class="btnfos btnfos-01 text-center text-decoration-none" id="btnEnviarDatos" style="color: #186802;">
                          <svg>
                            <rect x="0" y="0" fill="none" width="100%" height="100%"/>
                          </svg>
                          <i class="fa-solid fa-check fa-lg" style="color: #186802;"></i>              
                          <!-- <i class="fa-regular fa-circle-check fa-lg" style="color: #186802;"></i> -->
                          &nbsp;Guardar
                        </a>
            
                        <!--  Boton Salir  -->
                        <a href="{% url 'config:users_list'%}" class="btnfos btnfos-2 text-center text-decoration-none"  style="color: #950202;">
                          <i class="fa-solid fa-right-to-bracket fa-lg"style="color: #950202;"></i>              
                          <!--  <i class="fa-regular fa-circle-xmark fa-lg" style="color: #950202;"></i> -->
                          &nbsp;Salir
                        </a>                      
                      </section>
                      <!-- End Botones -->
                    </form>
                 </div>
                 <!-- End 1er. CONTENIDO DE LAS PESTAÑAS -->      
                 <!-- 2do. CONTENIDO DE LAS PESTAÑAS -->                                 
                 <div class="tab-pane fade pt-1" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                   <!-- VERIFICO SI EL USUARIO TIENE PERMISOS ASIGNADOS -->  
                   {% if obj %}
                   <!--  EN UNA SOLA FILA SE PONEN LAS DOS TABLAS-->
                   <div class="row"> 
                      <!--  LOS GRUPOS QUE EL USUARIO TIENE ASIGNADO -->                     
                      <div class="col-6">
                        <div class="card-sm">
                          <div class="callout callout-success bg-light shadow-sm">
                               Grupos Asignados al Usuario : {{obj}}
                          </div>
                          <div class="callout callout-success bg-white shadow-sm">
                            <table id="tblGrp-01" class="table table-bordered table-striped table-hover table-sm table-hover-bg-warning">
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Grupos</th>
                                  <th>Acciones</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in grupos_usuario%}
                                  <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}</td>
                                    <td>
                                      <a href="#" class="btn btn-sm text-success class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Eliminar Grupo""
                                         onclick="permiso('{{item.id}}','DEL')"
                                      ><i class="far fa-trash-alt"></i></a>
                                    </td>
                                  </tr>
                                {%endfor%}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!--  End LOS GRUPOS QUE EL USUARIO TIENE ASIGNADO -->                           
                      <!-- TODOS LOS GRUPOS DISPONIBLES QUE SE PUEDEN ASIGAR AL USUARIO  -->                       
                      <div class="col-6  mb-0 pb-0">
                        <div class="card-sm">
                          <div class="callout callout-success bg-light shadow-sm">
                            Agregar Grupos al Usuario : {{obj}}
                          </div>
                          <div class="callout callout-success bg-white shadow-sm">
                            <table id="tblGrp-02" class="table table-bordered table-striped table-hover table-sm table-hover-bg-warning">
                              <thead>
                                <tr>
                                  <th>Id</th>
                                  <th>Seleccione el Grupo que desea agregar</th>
                                  <th>Acciones</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for item in grupos%}
                                <tr>
                                  <td>{{item.id}}</td>
                                  <td>{{item.name}}</td>
                                  <td>
                                  <a href="#" class="btn btn-sm text-success class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Agregar Grupo""
                                     onclick="permiso('{{item.id}}','ADD')"
                                  ><i class="fas fa-plus"></i></a>
                                  </td>
                                </tr>
                                {%endfor%}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!-- End TODOS LOS GRUPOS DISPONIBLES QUE SE PUEDEN ASIGAR AL USUARIO  -->                       
                   </div>
                   <!-- End EN UNA SOLA FILA SE PONEN LAS DOS TABLAS-->                   
                   {% endif %}
                   <!-- End VERIFICO SI EL USUARIO TIENE PERMISOS ASIGNADOS -->  
                 </div>
                 <!-- End 2do. CONTENIDO DE LAS PESTAÑAS -->                     
               </div>
            </div>
            <!-- Edn CONTENIDO DE LAS PESTAÑAS  Se relacionan con los titulos por el Id -->              
          </div>
          <!-- End CONTIENE LAS DOS PESTAÑAS DE DATOS -->            
        </div>
      </div>        
    </div>
    <!-- End CUADRO DE DATOS -->     
  </div>  
</div>  
<!-- End Datos Generales -->
{% endblock%}


{% block js %}
<script>
  function permiso(id,accion){
    var url = "/users/groups/admin/{{obj.id}}/" + id
    var token = '{{csrf_token}}'
    var data = {"accion":accion}
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:url,
      data:data,
      success: function(response){
        if(response==="OK"){
          location.reload(true)
        }else{
          Swal.fire("Error Inesperado tratando de borrar registro " + r);
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        Swal.fire(errorThrow,"",'red');
      }
    })

  }
</script>
{% endblock js%}