/* Ult. Act. 31/07/2024 */

/* LOGIN  Imagen de Fondo */
body.login-page { 
    background: url("/static/img/estudiando_15_o.jpg") no-repeat center center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* End LOGIN  */  

/* HOME - CONOCE NUESTRA ESCUELA - Boton .. Leer mas - */
.item .btn-primary{
  box-shadow: 0px 5px 20px -10px #1376c5;
  border-radius: 5px;
}

.item .btn-primary:hover {
  background-color:#09C5B7;
  border: 1px solid #d0d0d0;
  animation-name: wiggle;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 3s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wiggle {
  0%,
  100% {
    transform: translate(0,0);
  }
  25%,
  75% {
    transform: translate(10px,0);
  }
  50% {
    transform: translate(-10px,0);
  }
}

/* End HOME - CONOCE NUESTRA ESCUELA - Boton .. Leer mas - */

div.efa{
  height: 15px;  
  width: 80px;  
} 

/* UBICAR EL BOTON DE BUSCAR EN EL DATATABLE  */
div.dataTables_wrapper div.dataTables_filter{
  position: relative;
  right: 45px;
}

div.dataTables_wrapper div.col-md-3{
  left: 15px;  
  right: 85px;    
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: 132px;
}
/* End UBICAR EL BOTON DE BUSCAR EN EL DATATABLE  */

/* BACKGROUND - SLIDER  */
.slider-inicio { 
  background: url("/static/img/galeria-02-o.jpg") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-staff-docentes { 
  background: url("/static/img/patron_fondo_01.jpg") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-proximas-actividades { 
  background: url("/static/img/patron_fondo_03.jpg") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider-cursos-y-talleres { 
  background: url("/static/img/patron_fondo_17.jpg") no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 3;
}
/* End BACKGROUND - SLIDER  */

/* TITULOS - SLIDER  */
div.c-degra{
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,115,1) 47%, rgba(0,255,111,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,115,1) 47%, rgba(0,255,111,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,115,1) 47%, rgba(0,255,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00ff6f",GradientType=1);
}

div.c-degra-08{
  background: rgb(2,0,36);
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,112,1) 49%, rgba(36,164,111,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,112,1) 49%, rgba(36,164,111,1) 100%);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,112,1) 49%, rgba(36,164,111,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#24a46f",GradientType=1);
}

div.c-degra-actividades{
  background: rgb(30,171,58);
  background: -moz-linear-gradient(90deg, rgba(30,171,58,1) 0%, rgba(9,77,121,1) 47%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(30,171,58,1) 0%, rgba(9,77,121,1) 47%, rgba(0,212,255,1) 100%);
  background: linear-gradient(90deg, rgba(30,171,58,1) 0%, rgba(9,77,121,1) 47%, rgba(0,212,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1eab3a",endColorstr="#00d4ff",GradientType=1);
}
/* End TITULOS - SLIDER  */

/* HOME - CURSOS Y TALLERES */
.slider-item{
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.owl-carousel .slider-item h1{
  text-align:center;  
  font:15px/30px RalewayR;
  color:#FFF;
  overflow:hidden;
  -webkit-animation:fadeInDown 1s both 1s;
          animation:fadeInDown 1s both 1s;
}
/* End HOME - CURSOS Y TALLERES */

/* FLECHA para hacer la pagina hacia arriba*/
.ir-arriba{
  display:none;
  background-repeat:no-repeat;
  font-size:20px;
  color:black;
  cursor:pointer;
  position:fixed;
  bottom:10px;
  right:10px;
  z-index:2;
}
/* End FLECHA para hacer la pagina hacia arriba*/



@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}


/* Botones para Guardar - Salir - Agregar */
.buttons-datos {
  display: table;
  height: 100%;
  width: 70%;
}

.btnfos {
  color: #FF5733;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 45px;
  max-width: 112px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}
/*Boton Guardar */ 
.btnfos-01 {
  background: #FFF;
  font-weight: 100;
}
.btnfos-01 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
}
.btnfos-01 rect {
  fill: none;
  stroke: #186802;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
}

.btnfos-01:hover {
  background: rgba(225, 51, 45, 0);
  letter-spacing: 0.5px;
  font-weight: 700;
}
.btnfos-01:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 230;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
/*Boton Salir */ 
.btnfos-2{
  letter-spacing: 0;
}

.btnfos-2:hover,
.btnfos-2:active {
  letter-spacing: 5px;
}

.btnfos-2:after,
.btnfos-2:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
          transition: all 280ms ease-in-out;
  width: 0;
}

.btnfos-2:hover:after,
.btnfos-2:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #950202;
  -webkit-transition: width 350ms ease-in-out;
          transition: width 350ms ease-in-out;
  width: 75%;
}

.btnfos-2:hover::before {
  bottom: auto;
  top: 0;
  width: 85%;
}
/*Boton Agregar */ 
.btnfos-3{
  letter-spacing: 0;
}

.btnfos-3:hover,
.btnfos-3:active {
  letter-spacing: 2.5px;
}

.btnfos-3:after,
.btnfos-3:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  color: #FF5733;  
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
          transition: all 280ms ease-in-out;
  width: 85%;
}

.btnfos-3:hover:after,
.btnfos-3:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #17A2B8;
  color: #FF5733;
  -webkit-transition: width 350ms ease-in-out;
          transition: width 350ms ease-in-out;
  width: 85%;
}

.btnfos-3:hover::before {
  color: #FF5733;  
  bottom: auto;
  top: 0;
  width: 85%;
} 

/* Nuevo Boton Agregar */

.btn-4 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Created by http://grohit.com/  */
.btn-4 a {
  text-decoration: none;
  border: 2px solid #17A2B8;
  padding: 15px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}

span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 3;
}

/* Button 1 styles */

.btn-4 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #F7F7F7;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-4 a:hover::before {
  transform: scaleY(0);
}

.btn-4 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color: #F7F7F7;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}
/* Created by http://grohit.com/  */

.btn-4 a:hover::after {
  transform: scaleX(0);
}

/* End Nuevo boton Agregar */




button-datos{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:90px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button-datos:hover{
  background:#fff;
  color:#1AAB8A;
}
button-datos:before,button-datos:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button-datos:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button-datos:hover:before,button-datos:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* End Botones para Guardar - Salir - Agregar */

/* Boton Nuevo Registro */
.wrapper-nuevo{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto;
}

.button-rnuevo{
  width:145px;
  height:55px;
  background: linear-gradient(to left top, #17A2B8 50%, #208EA0 50%);
  border-radius: 7px 7px 7px 7px;  
  border-style: none;
  color:#fff;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
.button-rnuevo span{
  position: absolute;
  display: block;
}
.button-rnuevo span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.button-rnuevo span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
.button-rnuevo span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.button-rnuevo span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.button-rnuevo:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.button:hover span{
  animation-play-state: paused;
}

/* End Boton Nuevo Registro */

/* Tooltip Personalizacion */
.tooltip-custom .tooltip-inner {
  opacity: .85;  
  background-color: #801515 !important;
  color:#FFF;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  opacity: .85;      
  border-top-color: #801515 !important;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  opacity: .85;      
  border-right-color: #801515 !important;
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  opacity: .85;      
  border-bottom-color: #801515 !important;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  opacity: .85;      
  border-left-color: #801515 !important;
}
/* End Tooltip Personalizacion */


/* Input-f Personalizado con Etiquetas Flotantes */
.input-f-Container {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input-f {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

.label-f {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  color: #DADCE0;
  font-size: 12px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.input-f:focus + .label-f {
  top: -20px;
  left: 3px;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
  color: purple;
}

.input-f:not(:placeholder-shown)+ .label-f {
  top: -22px;
  left: 3px;
  z-index: 10;
  font-size: 12px;
  font-weight: 600;
}

.input-f:focus {
  border-bottom: 2px solid purple;
}
/* End Input-f Personalizado con Etiquetas Flotantes */
